.skills {
  display: grid;
  grid-template-columns: 20vh 20vh;
  gap: 1rem;
  justify-content: space-evenly;
}

.each_skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}
.each_skill:hover {
  transform: translateX(3rem) scale(1.4);
}
.skill_icon {
  font-size: 2rem;
  margin-top: 10px;
  color: var(--clr-rose);
}
@media screen and (max-width: 600px) {
  .skills {
    grid-template-columns: auto auto;
  }
  .each_skill {
    padding: 0;
  }
  .skill_icon {
    font-size: 2rem;
    margin-top: 8px;
  }
}
